<div class="navbar">
    <mat-toolbar color="primary">
      <span class="heading">BorrowBuddy</span>
  
      <span class="spacer"></span>
      <a mat-button style="color: white;" class="link" routerLink="/">Home</a>
      <a mat-button style="color: white;" class="link" routerLink="/friends">Friends</a>
      <a mat-button style="color: white;" class="link" routerLink="/belongings" >Belongings</a>
      <a mat-button style="color: white;" class="link" routerLink="/borrowed" >Borrowed</a>
    </mat-toolbar>
  </div>
