.body{
    height: 100vh; /* Set the height to 100% of the viewport height */
    display: flex; /* Set the display to flex */
}
.main-text{
    margin-top: 130px;
    margin-left: 150px;
    min-width: 600px;
}
.text{
    font-size: 40pt;
    font-weight: 400;
}
.button button{
    min-width: 200px;
    min-height: 50px;
}
.img-wrapper img {
    width: 105%;
    height: auto;
}