<div class="body">
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Belongings</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let BelongingItem of BelongingArray">
                    <td>{{BelongingItem.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card">
        <form>
            <div class="input-container">
                <div class="input-box">
                <input type="text" name="belongingname" id="belongingname" placeholder="Enter belonging" [(ngModel)]="belongingname" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="button">
            <button mat-raised-button color="warn" (click)="save()">Add Belonging</button>
        </div>
    </div>
        </form>
        </div>
</div>
